@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #FFFFFF;
  --text-color-hover: rgba(83, 132, 247, 1);
  --background: rgba(59, 68, 106, 1);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(66, 76, 111, 1);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.ligth {
  --text-color: #2A3C3C;
  --background: rgba(255, 255, 255, 1);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(230, 230, 233, 1);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--background);
  height: 100vh;
}

body * {
  font-family: "Quicksand", sans-serif;
  color: var(--text-color);
}

/* Main */
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Profile */
.content-profile {
  width: 620px;
  max-width: calc(100vw - 10px);
  margin: 0 auto;
  padding: 16px;
}

#profile {
  text-align: center;
  padding: 24px 0 24px;
}

#profile p {
  font-weight: 500;
  margin-top: 8px;
}

#profile img {
  width: 112px;
  border: 4px solid rgba(80, 91, 129, 1);
  border-radius: 50%;
}

/* Switch */
.switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

.switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  animation: slide-back 0.3s;
}

.switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.ligth .switch button {
  animation: slide-in 0.3s forwards;
}

.ligth button:hover {
  outline: 6px solid var(--highlight-color);
}

/* Btn Links */
#links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 24px 0;
}

#links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: background 0.3s;
}

#links a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
  color: var(--text-color-hover);
}

/* Social Links */
.social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.3s;
  border-radius: 50%;
}

.social-links a:hover {
  background: var(--highlight-color);
}

/* Footer */
footer {
  text-align: center;
  font-size: 14px;
  padding: 24px 0;
}

footer a {
  text-decoration: none;
  font-weight: 500;
  color: #8257e6;
}

/* Animations */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
